.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.posts-wrapper {
    padding: 0.5rem 0.875rem;
    display: flex;
    border-bottom: solid 1px #f1f1f1;

    .profile {
        width: 40px;
        height: 40px;
        background-color: red;
        border-radius: 50%;
        margin-right: 10px;
    }

    .post-container {
        width: calc(100% - 40px);
    }

    .post-footer {
        display: flex;
        justify-content: space-between;

        .footer-item {
            @extend .flex-center;

            .footer-svg {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                @extend .flex-center;

                // &:hover {
                //     background-color: #e4e4e4;
                // }
            }

            &:nth-child(1) {
                margin-left: -12px;
            }
        }

        .comments {
            &:hover {
                cursor: pointer;
                background-color: #0000ff2d;
                filter: invert(27%) sepia(51%) saturate(2878%)
                    hue-rotate(220deg) brightness(104%) contrast(97%);
            }
        }

        .retweet {
            &:hover {
                cursor: pointer;
                background-color: #00000052;
                filter: invert(27%) sepia(51%) saturate(2878%)
                    hue-rotate(150deg) brightness(104%) contrast(97%);
            }
        }

        .likes {
            &:hover {
                cursor: pointer;
                background-color: #00000027;
                filter: invert(27%) sepia(51%) saturate(2878%)
                    hue-rotate(320deg) brightness(104%) contrast(97%);
            }
        }

        .option {
            &:hover {
                cursor: pointer;
                background-color: #00000052;
                filter: invert(27%) sepia(51%) saturate(2878%)
                    hue-rotate(150deg) brightness(104%) contrast(97%);
            }
        }
    }
}
