.footer-wrapper {
    padding: 3vmin 0.875rem;
    border-top: solid 1px #cccccc;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
}
